* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #f5f5f5;
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 60px;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.user-info {
  margin-right: 20px;
  font-weight: bold;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  white-space: nowrap;
}

.logout-button:hover {
  background-color: #cc0000;
}

.main-content {
  display: flex;
  justify-content: center;
  padding-top: 60px; /* Висота хедера */
}
.logo-conteiner{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  border-right: 2px solid #ccc;
  padding: 15px; /* Встановлюємо padding на 0 */
  position: fixed;
  top: 60px; /* Щоб sidebar не заходив під хедер */
  bottom: 0;
  left: 0;
}

.logo {
  height: 90px; /* Встановіть бажану висоту логотипу */
  margin-right: 20px; /* Додайте відступ праворуч від логотипу */
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar ul li:hover {
  background-color: #444;
}

.content {
  width: 100%;
  margin-left: 200px;
}
